
@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}

    <div style="margin: 200px;" class="form-group">
        <div class="form-group">
            <a asp-controller="Games" asp-action="Index">Go back to games list</a>
        </div>

        <h1>Something went wrong</h1>
    </div>